body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: roboto, sans-serif;
    background-color: #EDE04A;
}

figure {
    align-items: baseline;
}

.background-text-box {
    background-color: #FFFDE5;
}

h1 {
    font-size: 20px;
    font-family: Georgia, serif;
}

.caption-text-box {
    color: gray;
}

p {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: Georgia, serif;
    font-size: 1em;
}

li {
    font-family: Georgia, serif;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 1em;
}

hi {
    font-family: Georgia, serif;
}

p {
    font-family: Georgia, serif;
}

h6 {
    color: #BAF8F6;
}